@import '../globals';
@import '../mixins/fonts';
@import '../mixins/height';

header {
  display: flex;
  justify-content: center;
  align-items: center;

  @include full-height;

  h1 {
    // Fallback for browsers that might not support clamp
    font-size: 10vw;
    font-size: clamp(2.5em, 10vw, 10vw);
    margin: 0;
    text-align: center;
    cursor: default;

    @include font('AvenirNext-Bold');
  }
}
