@import '../mixins/fonts';
@import '../globals';
@import '../mixins/breakpoints';
@import '../mixins/debug';

$menu-button-size: 80px;
$menu-bar-slide-height: 10px;

@mixin transition($otherTransition...) {
  $duration: 1s;
  // prettier-ignore
  transition: 
    background-color $duration ease-in-out, 
    color $duration ease-in-out,
    $otherTransition;
}

// Theme colors are stored in separate
// RBG so we can apply alpha to it using rgba()
.theme--light {
  --color-background: 255, 255, 255;
  --color-text: 0, 0, 0;
}

.theme--dark {
  --color-background: 0, 0, 0;
  --color-text: 255, 255, 255;
}

.backdrop {
  background-color: rgba(var(--color-background), 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: none;
  z-index: -100;

  @include breakpoint(md) {
    display: block;
  }
}

.menu-navigation {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  margin-left: 2em;
}

.menu__button--home {
  color: rgba(var(--color-text), 1);

  @include transition;
  @include font('AvenirNext');

  a {
    color: rgba(var(--color-text), 1);
    text-decoration: none;

    @include transition;
  }
}

.menu__button--close {
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;

  & span {
    background-color: rgba(var(--color-text), 1);
    position: absolute;
    width: 20px;
    height: 2px;

    @include transition;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.menu__button--open {
  right: 0;
  flex-direction: column;
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  width: $menu-button-size;
  height: $menu-button-size;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    .menu__button__text {
      clip-path: inset(0 0 0);
    }

    .menu-bar__top {
      transform: translateY(-$menu-bar-slide-height);
    }

    .menu-bar__bottom {
      transform: translateY($menu-bar-slide-height);
    }
  }

  @include breakpoint(md) {
    right: 1em;
  }
}

.menu__button__text {
  clip-path: inset(50% 0 50%);
  position: absolute;
  text-transform: uppercase;
  padding-top: 9px;
  font-size: 14px;
  transition: clip-path 0.3s ease-in-out;
  user-select: none;
  color: rgba(var(--color-background), 1);

  @include font('AvenirNext');
}

.menu-bar__top,
.menu-bar__bottom {
  height: 1px;
  width: 30px;
  background-color: rgba(var(--color-background), 1);

  @include transition(transform 0.3s ease-in-out);
}

.menu-bar__top {
  margin-bottom: 7px;
}

.menu-bar__bottom {
  margin-bottom: -7px;
}

.menu__slider {
  background-color: rgba(var(--color-background), 0.7);
  backdrop-filter: blur(5px) saturate(180%);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  z-index: 101;
  transform: translateX(100%);
  overflow-y: auto;

  @include transition;

  @include breakpoint(md) {
    width: 45vw;
  }

  @include breakpoint(lg) {
    width: 35vw;
  }
}

.menu__content {
  color: rgba(var(--color-text), 1);
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left: 2em;

  @include transition;

  &--title {
    font-size: 1em;
    margin-bottom: 0.5em;

    @include font('AvenirNext');
  }

  &--option {
    position: relative;
    font-size: 2.5em;
    margin: 0.3em 0;
    color: rgba(var(--color-text), 1);
    text-decoration: none;
    font-weight: 600;

    @include font('Montserrat');

    @include transition;

    @include breakpoint(md) {
      // Gives an underline to the link elements when hovered.
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgba(var(--color-text), 1);
        transform: scaleX(0);
        transition: transform 0.15s ease-in-out;
        transform-origin: bottom right;
      }

      &:hover::before {
        transform-origin: bottom right;
        transform: scaleX(1);
      }
    }
  }
}
