@import 'breakpoints';
@import 'fonts';

@warn "Don't use this in a production environment!";

// Small mixin that adds a colored bar to the page
// so breakpoints can be easily visualized
// prettier-ignore
@mixin DEBUG_screen-size($position: bottom) {

  &::before {
    content: 'xs';
    position: fixed;
    overflow: hidden;
    text-align: center;
    background-color: lightgray;

    @if $position == top {
      top: 0;
      right: 0;
      left: 0;
    }

    @else if $position == right {
      top: 0;
      right: 0;
      bottom: 0;
      writing-mode: vertical-rl;
    }

    @else if $position == bottom {
      right: 0;
      bottom: 0;
      left: 0;
    }

    @else if $position == left {
      left: 0;
      bottom: 0;
      top: 0;
      writing-mode: vertical-rl;
    }

    @else {
      @error 'Invalid position #{$position}';
    }

    @include font('consolas');

    @include breakpoint(sm) {
      background-color: orange;
      content: 'sm';
    }

    @include breakpoint(md) {
      background-color: lightskyblue;
      content: 'md';
    }

    @include breakpoint(lg) {
      background-color: lightgreen;
      content: 'lg';
    }

    @include breakpoint(xl) {
      background-color: lightcoral;
      content: 'xl';
    }
  }
}

// Outlines every element on the page
@mixin DEBUG_outline($color: red) {
  & * {
    outline: 1px solid $color !important;
  }
}

// Adds columns to the page to make centering
// and positioning elements easier
@mixin DEBUG_grid($cols: 12, $color: #b8b6b5) {
  height: 100%;
  background-size: calc((100vw / #{$cols}) + 1px);
  background-image: linear-gradient(
    to right,
    transparent calc(100vw / #{$cols}),
    $color calc(100vw / #{$cols})
  );
}
