@import 'breakpoints';

@mixin DEBUG_background-color {
  @include breakpoint(xs) {
    background-color: lightgray;
  }

  @include breakpoint(sm) {
    background-color: orange;
  }

  @include breakpoint(md) {
    background-color: lightskyblue;
  }

  @include breakpoint(lg) {
    background-color: lightgreen;
  }

  @include breakpoint(xl) {
    background-color: lightcoral;
  }
}

@mixin DEBUG_color {
  @include breakpoint(xs) {
    color: lightgray;
  }

  @include breakpoint(sm) {
    color: orange;
  }

  @include breakpoint(md) {
    color: lightskyblue;
  }

  @include breakpoint(lg) {
    color: lightgreen;
  }

  @include breakpoint(xl) {
    color: lightcoral;
  }
}
