$body-color: #fff;

.no-overflow {
  overflow: hidden;
}

.text-stroke {
  @supports (-webkit-text-stroke: 1px black) {
    -webkit-text-stroke: 1px black;
    text-decoration: none;
    color: transparent;
    display: inline;
    // Prevents the double outline that
    // appears on mobile devices
    font-weight: 400;
  }
}
