@import "~locomotive-scroll/src/locomotive-scroll.scss";
@import 'normalize';
@import 'globals';

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased!important;
}

body {
  background-color: $body-color;
  padding: 0;
  margin: 0;
}
